@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');
@import "tailwindcss";

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins',sans-serif;
  }
  